.Content{
    padding: 50px;
    background-image: url("https://img.freepik.com/premium-vector/modern-abstract-background_200180-196.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box{
    padding-bottom: 10px;
    background-color: #201f1f;
    box-shadow: 10px 10px 15px 1px rgba(0, 0, .2);
    border: 0.5px solid #474646;
    /* height: 500px; */
}