.Content{
    padding: 50px;
    background-image: url("https://img.freepik.com/premium-vector/modern-abstract-background_200180-196.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box{
    padding-bottom: 10px;
    background-color: #201f1f;
    box-shadow: 10px 10px 15px 1px rgba(0, 0, .2);
    border: 0.5px solid #474646;
    /* height: 500px; */
}
.date h2{
    padding-top: 5px;
    color: #FFFFFF;
}
.list-container {
    margin-top: 20px;
    padding: 20px;
}

.list-container h4 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
}

.list ul {
    overflow-y: auto;
    max-height: 200px;
    padding-right: 20px;
    padding-bottom: 0px;
    margin: 0;
    list-style-type: none;
}

.list ul li {
    background-color: #b6c6f7;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 1.4em;
}

.list ul li:hover {
    background-color: #a0b9ff;
}
.quote{
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
}
.quote q,.quote p{
    color: white;
    font-weight: bold;
}
/* .footer, .quote{
    position: relative;
    top: 200px;
} */
.b1{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.b2{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
